
	<div id="footer">
		<div class="container">
			<div class="row">

				<!-- Tweets -->
					<section class="col-4 col-12-mobile">
						<header>
							<h2 class="icon brands fa-twitter circled"><span class="label">Tweets</span></h2>
						</header>
						<ul class="divided">
							<li>
								<article class="tweet">
									Amet nullam fringilla nibh nulla convallis tique ante sociis accumsan.
									<span class="timestamp">5 minutes ago</span>
								</article>
							</li>
						</ul>
					</section>

				<!-- Posts -->
					<section class="col-4 col-12-mobile">
						<header>
							<h2 class="icon solid fa-file circled"><span class="label">Posts</span></h2>
						</header>
						<ul class="divided">
							<li>
								<article class="post stub">
									<header>
										<h3><a href="#">Nisl fermentum integer</a></h3>
									</header>
									<span class="timestamp">3 hours ago</span>
								</article>
							</li>
						</ul>
					</section>

				<!-- Photos -->
					<section class="col-4 col-12-mobile">
						<header>
							<h2 class="icon solid fa-camera circled"><span class="label">Photos</span></h2>
						</header>
						<div class="row gtr-25">
							<div class="col-6">
								<a href="#" class="image fit"><img src="/images/pic10.jpg" alt="" /></a>
							</div>
							<div class="col-6">
								<a href="#" class="image fit"><img src="/images/pic11.jpg" alt="" /></a>
							</div>
						</div>
					</section>

			</div>
			<hr />
			<div class="row">
				<div class="col-12">

					<!-- Contact -->
						<section class="contact">
							<header>
								<h3>
								{{ data.app_title }}
								</h3>
							</header>
							<p>
							Static Site prototyped on top of <a href="https://www.11ty.io/">Eleventy</a> Static Site Generator. 	
							</p>
							<ul class="icons">

								<li><a href="{{ data.github   }}" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="{{ data.medium   }}" class="icon brands fa-medium"><span class="label">Medium</span></a></li>
								<li><a href="{{ data.youtube  }}" class="icon brands fa-youtube"><span class="label">Youtube</span></a></li>
								<li><a href="{{ data.twitter  }}" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="{{ data.facebook }}" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>

							</ul>
						</section>

					<!-- Copyright -->
						<div class="copyright">
							<ul class="menu">
								<li>&copy; {{ data.copy }} - <a href="{{ data.product }}">{{ data.app_title }}</a></li>
								<li>Design: <a href="http://html5up.net/helios">HTML5 UP</a></li>
							</ul>
						</div>

				</div>

			</div>
		</div>
	</div>
